<p id="notice"><%= notice %></p>

<p>
  <b>Naziv:</b>
  <%= @model.name %>
</p>

<p>
  <b>Tip:</b>
  <%= @model.tip %>
</p>

<p>
  <b>Size:</b>
  <%= @model.size %>
</p>

<p>
  <b>Available:</b>
  <%= @model.available %>
</p>

<p>
  <b>Description:</b>
  <%= @model.description %>
</p>


<%= link_to 'Edit', edit_model_path(@model) %> |
<%= link_to 'Back', models_path %>
