<h1>Listing brends</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @brends.each do |brend| %>
  <tr>
    <td><%= brend.name %></td>
    <td><%= link_to 'Show', brend %></td>
    <td><%= link_to 'Edit', edit_brend_path(brend) %></td>
    <td><%= link_to 'Destroy', brend, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Brend', new_brend_path %>
